<h1><%= @post.title %></h1>
<h4>Authored by: <%= @post.email %></h4>
<p><%= time_ago_in_words(@post.created_at) %> ago</p>

<% if can? :update, @post %>
  <%= link_to "Edit Post", edit_post_path(@post) %>
<% end %>
<% if can? :destroy, @post %>
  <%= button_to "Delete Post", post_path(@post), method: :delete %>
<% end %>

<div class="content">
  <%= @post.content %>
</div>

<% if can? :create, @tag %>
  <%= render "tags/form", post: @post, tag: @tag %>
<% end %>

<h5>Tags</h5>
<ul class="tags">
  <% @post.tags.each do |tag| %>
    <li>
      <p><%= tag.name %></p>
      <p>
        <% if can? :edit, @tag %>
          <%= link_to "Edit Tag", edit_post_tag_path(@post, tag) %>
        <% end %>
        <% if can? :destroy, @tag %>
          <%= link_to "Delete Tag", post_tag_path(@post, tag), method: :delete %>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>
